.hello {
  font: 15px Helvetica, Arial, sans-serif;
  background: #eee;
  padding: 100px;
  text-align: center;
  transition: 100ms ease-in background;
}
.hello:hover {
  background: #ccc;
}
.Home{
  background-color: floralwhite;
  padding: 50px;
}
.footer{
  margin-top: 100px;
}
.a{
  padding: 30px;
}
.header{
  margin-bottom: 75px;
}